In [112]:
import pandas as pd
import numpy as np

# Given the following confusion matrix, evaluate (by hand) the model's performance.

|               | pred dog   | pred cat   |
|:------------  |-----------:|-----------:|
| actual dog    |         46 |         7  |
| actual cat    |         13 |         34 |

- cat= negative class
- dog= positive class

- ### In the context of this problem, what is a false positive?
      Ans: Predictate a cat but turns out to be a dog

- ### In the context of this problem, what is a false negative?
        Ans: predictate cat and turns out to be a dog
        
- ### How would you describe this model?

In [120]:
TP=46
TN=34
FP=7
FN=13
print('Dog Classifier')
print('.............')
print('True Positives:', TP)
print('False Positives:', FP)
print('False Negatives:', FN)
print('True Negatives:', TN)

Dog Classifier
.............
True Positives: 46
False Positives: 7
False Negatives: 13
True Negatives: 34

In [125]:
accuracy=(TP + TN)/(TP+TN+FP+FN)
recall = (TP)/(TP+TN)
precision = (TP)/(TP+FP)
print("Accuracy is", accuracy)
print("Recall is",round(recall,2))
print("Precision is",round(precision, 2))

Accuracy is 0.8
Recall is 0.57
Precision is 0.87

## 3.You are working as a datascientist working for Codeup Cody Creator (C3 for short), a rubber-duck manufacturing plant.

## Unfortunately, some of the rubber ducks that are produced will have defects. Your team has built several models that try to predict those defects, and the data from their predictions can be found here.

## Use the predictions dataset and pandas to help answer the following questions:

- ### An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

- ### Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

In [154]:
duck = pd.read_csv('model.csv')
duck

        actual     model1     model2     model3
0    No Defect  No Defect     Defect  No Defect
1    No Defect  No Defect     Defect     Defect
2    No Defect  No Defect     Defect  No Defect
3    No Defect     Defect     Defect     Defect
4    No Defect  No Defect     Defect  No Defect
..         ...        ...        ...        ...
195  No Defect  No Defect     Defect     Defect
196     Defect     Defect  No Defect  No Defect
197  No Defect  No Defect  No Defect  No Defect
198  No Defect  No Defect     Defect     Defect
199  No Defect  No Defect  No Defect     Defect

[200 rows x 4 columns]

In [155]:
duck.actual.value_counts()

No Defect    184
Defect        16
Name: actual, dtype: int64

- ### RECALL is the best metric for quality control.(how many defective ducks are flagged by defective(positive) by the models
- ### 'Defect' classifier as defect is the area of interest

In [156]:
subset = duck[duck.actual == 'Defect']
subset

     actual     model1     model2     model3
13   Defect  No Defect     Defect     Defect
30   Defect     Defect  No Defect     Defect
65   Defect     Defect     Defect     Defect
70   Defect     Defect     Defect     Defect
74   Defect  No Defect  No Defect     Defect
87   Defect  No Defect     Defect     Defect
118  Defect  No Defect     Defect  No Defect
135  Defect     Defect  No Defect     Defect
140  Defect  No Defect     Defect     Defect
147  Defect     Defect  No Defect     Defect
163  Defect     Defect     Defect     Defect
171  Defect  No Defect     Defect     Defect
176  Defect  No Defect     Defect     Defect
186  Defect  No Defect  No Defect  No Defect
194  Defect     Defect  No Defect     Defect
196  Defect     Defect  No Defect  No Defect

In [157]:
# Model 1 recall
model1_recall = (subset.actual==subset.model1).mean()
print(f'Model reacall for model1 ={model1_recall:.2%}')

Model reacall for model1 =50.00%

In [162]:
# Model 2 recall

model2_recall = (subset.actual == subset.model2).mean()
print(f"Model recall for model2: {model2_recall:.2%}")

Model recall for model2: 10.00%

In [159]:
# Model 3 recall

model3_recall = (subset.actual == subset.model3).mean()
print(f"Model recall: {model3_recall:.2%}")

Model recall: 81.25%

### To avoid false negatives quality control should select a model with higher recall i.e MODEL 3

### Exercise 3 part 2

In [160]:
# PR team aims to minimize False positives so needs to choose model with high precison.

subset=duck[duck.model1=='Defect']
subset
model_precison= (subset.actual==subset.model1).mean()
print(f'Precison for Model1 :{model_precision:.2%}')

Precison for Model1 :80.00%

In [170]:
# subset for model2
subset=duck[duck.model2=='Defect']
model_precision = (subset.actual == subset.model2).mean()
print(f'Precison for model3:{model_precision:.2%}')

Precison for model3:10.00%

In [171]:
model_precision = (subset.actual == subset.model2).mean()
print(f'Precison for model2:{model_precision:.2%}')

Precison for model2:10.00%

In [172]:
# subset for model3
subset=duck[duck.model3=='Defect']
model_precision = (subset.actual == subset.model3).mean()
print(f'Precison for model3:{model_precision:.2%}')

Precison for model3:13.13%

In [ ]:
# since model1 has high precision, it should be used to minimize false positives.

## 4.You are working as a data scientist for Gives You Paws ™, a subscription based service that shows you cute pictures of dogs or cats (or both for an additional fee).

## At Gives You Paws, anyone can upload pictures of their cats or dogs. The photos are then put through a two step process. First an automated algorithm tags pictures as either a cat or a dog (Phase I). Next, the photos that have been initially identified are put through another round of review, possibly with some human oversight, before being presented to the users (Phase II).

## Several models have already been developed with the data, and you can find their results here.

## Given this dataset, use pandas to create a baseline model (i.e. a model that just predicts the most common class) and answer the following questions:

- ### **A** . In terms of accuracy, how do the various models compare to the baseline model? Are any of the models     better than the baseline?
- ### **B** . Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recomend for Phase I? For Phase II?
- ### **C** . Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recomend for Phase I? For Phase II?

In [173]:
df= pd.read_csv('gives_you_paws.csv')
df

     actual model1 model2 model3 model4
0       cat    cat    dog    cat    dog
1       dog    dog    cat    cat    dog
2       dog    cat    cat    cat    dog
3       dog    dog    dog    cat    dog
4       cat    cat    cat    dog    dog
...     ...    ...    ...    ...    ...
4995    dog    dog    dog    dog    dog
4996    dog    dog    cat    cat    dog
4997    dog    cat    cat    dog    dog
4998    cat    cat    cat    cat    dog
4999    dog    dog    dog    dog    dog

[5000 rows x 5 columns]

In [174]:
df.actual.value_counts()

dog    3254
cat    1746
Name: actual, dtype: int64

In [175]:
# since DOG is the most common, dog is set as baseline
df['baseline']='dog'
df.head()

  actual model1 model2 model3 model4 baseline
0    cat    cat    dog    cat    dog      dog
1    dog    dog    cat    cat    dog      dog
2    dog    cat    cat    cat    dog      dog
3    dog    dog    dog    cat    dog      dog
4    cat    cat    cat    dog    dog      dog

In [176]:
columns= list(df.columns)
columns = columns[1:]
columns

['model1', 'model2', 'model3', 'model4', 'baseline']

In [178]:
#accuracy for each model
output={}
for col in columns:
    model_accuracy=(df.actual == df[col]).mean()
    output.update({col:model_accuracy})
    
output

{'model1': 0.8074,
 'model2': 0.6304,
 'model3': 0.5096,
 'model4': 0.7426,
 'baseline': 0.6508}

In [179]:
#converting output to dataframe
pd.DataFrame(output.items(),columns=['model','accuracy'])

      model  accuracy
0    model1    0.8074
1    model2    0.6304
2    model3    0.5096
3    model4    0.7426
4  baseline    0.6508

In [181]:
## without using functions

model_accuracy=(df.actual == df.model1).mean()

print(f'model accuracy for model1: {model_accuracy:.2%}')


model_accuracy=(df.actual == df.model2).mean()

print(f'model accuracy for model2: {model_accuracy:.2%}')


model_accuracy=(df.actual == df.model3).mean()

print(f'model accuracy for model3: {model_accuracy:.2%}')


model_accuracy=(df.actual == df.model4).mean()

print(f'model accuracy for model4: {model_accuracy:.2%}')

model accuracy for model1: 80.74%
model accuracy for model2: 63.04%
model accuracy for model3: 50.96%
model accuracy for model4: 74.26%

- #### Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recomend for Phase I? For Phase II?
- dog = positive
- cat =negative
- phase 1 should use a model with high recall value

In [182]:
# recall: when actual is dog
subset= df[df.actual=='dog']
subset

     actual model1 model2 model3 model4 baseline
1       dog    dog    cat    cat    dog      dog
2       dog    cat    cat    cat    dog      dog
3       dog    dog    dog    cat    dog      dog
5       dog    dog    dog    dog    dog      dog
8       dog    dog    cat    dog    dog      dog
...     ...    ...    ...    ...    ...      ...
4993    dog    dog    cat    dog    dog      dog
4995    dog    dog    dog    dog    dog      dog
4996    dog    dog    cat    cat    dog      dog
4997    dog    cat    cat    dog    dog      dog
4999    dog    dog    dog    dog    dog      dog

[3254 rows x 6 columns]

In [183]:
model_recall = (subset.actual== subset.model1).mean()
print(f'Model recall for model1:{model_recall:.2%}')


model_recall = (subset.actual== subset.model2).mean()
print(f'Model recall for model2:{model_recall:.2%}')


model_recall = (subset.actual== subset.model3).mean()
print(f'Model recall for model3:{model_recall:.2%}')

model_recall = (subset.actual== subset.model4).mean()
print(f'Model recall for model4:{model_recall:.2%}')

Model recall for model1:80.33%
Model recall for model2:49.08%
Model recall for model3:50.86%
Model recall for model4:95.57%

### Model 4 has recall of 95% so MODEL4 should be used for phase 1

### for phase 2 precision is appropriate metric to minimize false positives

In [186]:
#precision: when model==dog
subset1 = df[df.model1 == 'dog']
subset2 = df[df.model2 == 'dog']
subset3 = df[df.model3 == 'dog']
subset4 = df[df.model4 == 'dog']

In [188]:
model_precision= (subset1.actual== subset1.model1).mean()
print(f'Model 1 precison:{model_precision:.2%}')

model_precision= (subset2.actual== subset2.model2).mean()
print(f'Model 2 precison:{model_precision:.2%}')

model_precision= (subset3.actual== subset3.model3).mean()
print(f'Model 3 precison:{model_precision:.2%}')

model_precision= (subset4.actual== subset4.model4).mean()
print(f'Model 4 precison:{model_precision:.2%}')

Model 1 precison:89.00%
Model 2 precison:89.32%
Model 3 precison:65.99%
Model 4 precison:73.12%

### Phase 2 should go with model2

## exercise5
- positive = 'cat'

In [190]:
from sklearn.metrics import classification_report

In [193]:
print('MODEL 1')
x = classification_report(df.actual, df.model1,
                          labels = ['cat', 'dog'],
                          output_dict=True)
pd.DataFrame(x).T

MODEL 1

              precision    recall  f1-score    support
cat            0.689772  0.815006  0.747178  1746.0000
dog            0.890024  0.803319  0.844452  3254.0000
accuracy       0.807400  0.807400  0.807400     0.8074
macro avg      0.789898  0.809162  0.795815  5000.0000
weighted avg   0.820096  0.807400  0.810484  5000.0000

In [194]:
print('MODEL2')
pd.DataFrame(classification_report(df.actual, df.model2,
                                   labels = ['cat', 'dog'],
                                   output_dict=True)).T

MODEL2

              precision    recall  f1-score    support
cat            0.484122  0.890607  0.627269  1746.0000
dog            0.893177  0.490781  0.633479  3254.0000
accuracy       0.630400  0.630400  0.630400     0.6304
macro avg      0.688649  0.690694  0.630374  5000.0000
weighted avg   0.750335  0.630400  0.631310  5000.0000

In [196]:
print("Model 3")
pd.DataFrame(classification_report(df.actual, df.model3,
                                   labels = ['cat', 'dog'],
                                   output_dict=True)).T

Model 3

              precision    recall  f1-score    support
cat            0.358347  0.511455  0.421425  1746.0000
dog            0.659888  0.508605  0.574453  3254.0000
accuracy       0.509600  0.509600  0.509600     0.5096
macro avg      0.509118  0.510030  0.497939  5000.0000
weighted avg   0.554590  0.509600  0.521016  5000.0000

In [195]:
print("Model 4")
pd.DataFrame(classification_report(df.actual, df.model4,
                                   labels = ['cat', 'dog'],
                                   output_dict=True)).T

Model 4

              precision    recall  f1-score    support
cat            0.807229  0.345361  0.483755  1746.0000
dog            0.731249  0.955747  0.828560  3254.0000
accuracy       0.742600  0.742600  0.742600     0.7426
macro avg      0.769239  0.650554  0.656157  5000.0000
weighted avg   0.757781  0.742600  0.708154  5000.0000